import styles from './{{name}}.module.scss';
import type { {{pascalCase name}}_component } from "@sanity-types";

const {{pascalCase name}} = ({  }: {{pascalCase name}}_component) => {
  return (
    <section className={styles['{{name}}']}>

    </section>
  );
};

export default {{pascalCase name}};